<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/public.meta.tags.ejs") %> 
        <title>Login Page</title>
        <%- include("../components/public.style.tags.ejs") %>
        <link rel="stylesheet" href="/css/Login/style.min.css">
    </head>
    <body>
        <!-- Start Header -->
        <%- include("../components/header.ejs") %> 
        <!-- End Header -->
        <!-- Start Login -->
        <section class="login">
            <h1 class="text-center fw-bold">Login</h1>
            <!-- Start Container -->
            <div class="container text-center">
                <!-- Start Login Form -->
                <form action="/login" method="post" class="login-form">
                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                    <button type="submit" class="btn btn-primary create-account-btn">Login</button>
                </form>
                <!-- End Login Form -->
                <% if (loginError) { %>
                    <p class="alert alert-danger">
                        <%= loginError %>
                    </p>
                <% } %>
                <h6>Don't have account ?
                    <a href="/signup">Create Account</a>
                </h6>
            </div>
            <!-- End Container -->
        </section>
        <!-- End Login -->
        <%- include("../components/public.script.tags.ejs") %> 
    </body>
</html>