<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/public.meta.tags.ejs") %>
        <title>Home Page</title>
        <%- include("../components/public.style.tags.ejs") %> 
        <link rel="stylesheet" href="/css/Home/style.min.css">
    </head>
    <body>
        <!-- Start Header -->
        <%- include("../components/header") %> 
        <!-- End Header -->
        <!-- Start Goods Box -->
        <section class="products-gallery">
            <h1 class="text-center fw-bold">Products Gallery</h1>
            <!-- Start Container -->
            <div class="container">
                <!-- Start Products Filter Form -->
                <form action="/" class="products-filter-form text-center" method="get">
                    <select name="category" class="form-select">
                        <option value="all">All</option>
                        <option value="phones">Phones</option>
                        <option value="clothes">Clothes</option>
                        <option value="computers">Computers</option>
                    </select>
                    <button type="submit" class="btn btn-danger products-filter-button">Products Filter</button>
                </form>
                <!-- End Products Filter Form -->
                <!-- Start Grid System -->
                <div class="row">
                    <% for( let productInfo of productsInfo ) { %>
                        <!-- Start Column -->
                        <div class="col-md-4">
                            <!-- Start Product Info Box -->
                            <div class="card product-info-box">
                                <!-- Start Product Image Box -->
                                <div class="product-image-box">
                                    <!-- Start Product Image -->
                                    <img
                                        src="<%= productInfo.productImageSrc %>"
                                        class="card-img-top"
                                        alt="Sorry !!"
                                    >
                                    <!-- End Product Image -->
                                    <!-- Start Overlay -->
                                    <div class="overlay">
                                        <button>Show Image</button>
                                    </div>
                                    <!-- End Overlay -->
                                </div>
                                <!-- End Product Image Box -->
                                <!-- Start Product Caption Box -->
                                <div class="card-body product-caption-box">
                                    <a  class="card-title product-name"
                                        href="/product-info/<%= productInfo._id %>"
                                        target="_blank"
                                    >
                                        <%= productInfo.name %>
                                    </a>
                                    <h4 class="product-price">
                                        <%= productInfo.price %>
                                    </h4>
                                    <h3 class="product-category">
                                        <%= productInfo.category %> 
                                    </h3>
                                    <p class="card-text product-description">
                                        <%= productInfo.description %>
                                    </p>
                                    <form action="/cart" method="get" class="add-to-cart-form">
                                        <input type="number" name="amount" class="form-control">
                                        <button type="submit" class="btn btn-primary add-to-cart">
                                            Add to cart
                                        </button>
                                    </form>
                                </div>
                                <!-- End Product Caption Box -->
                            </div>
                            <!-- End Product Info Box -->
                        </div>
                        <!-- End Column -->
                    <% } %>
                </div>
                <!-- End Grid System -->
            </div>
            <!-- End Container -->
        </section>
        <!-- End Goods Box -->
        <%- include("../components/public.script.tags.ejs") %> 
    </body>
</html>