<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/public.meta.tags.ejs") %>
        <title><%= pageTitle %></title>
        <%- include("../components/public.style.tags.ejs") %> 
    </head>
    <body>
        <!-- Start Header -->
        <%- include("../components/header") %> 
        <!-- End Header -->
        <!-- Start Cart -->
        <section class="cart">
            <h1 class="text-center fw-bold">Cart</h1>
            <!-- Start Container -->
            <div class="container text-center">
                <table>
                    <thead class="fw-bold">
                        <tr>
                            <td>no</td>
                            <td>Product Name</td>
                            <td>Price</td>
                            <td>Amount</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < carts.length; i++ ) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= carts[i].name %>
                                </td>
                                <td>
                                    <%= carts[i].price %> $
                                </td>
                                <form method="post">
                                    <td>
                                        <input
                                            type="number"
                                            min="1"
                                            max="6"
                                            name="amount"
                                            class="form-control"
                                            value="<%= carts[i].amount %>"
                                        >
                                    </td>
                                    <td>
                                        <%= carts[i].price * carts[i].amount %> $
                                    </td>
                                    <td>
                                        <input type="hidden" name="productId" value="<%= carts[i].productId %>">
                                        <input type="hidden" name="name" value="<%= carts[i].name %>">
                                        <input type="hidden" name="price" value="<%= carts[i].price %>">
                                        <button type="submit" class="btn btn-success" formaction="/cart/save">Save</button>
                                        <button type="submit" class="btn btn-success" formaction="/cart/order">Order</button>
                                        <button type="submit" class="btn btn-danger" formaction="/cart/delete">Delete</button>
                                    </td>
                                </form>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <form method="post">
                                <td colspan="3">
                                    <button type="submit" class="btn btn-danger" formaction="/cart/delete-all">Delete All</button>
                                </td>
                                <td colspan="3">
                                    <button type="submit" class="btn btn-success" formaction="/cart/order-all">Order All</button>
                                </td>
                            </form>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- End Container -->
        </section>
        <!-- End Cart -->
        <%- include("../components/public.script.tags.ejs") %> 
    </body>
</html>