<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/public.meta.tags.ejs") %> 
        <title>Product Info Page</title>
        <%- include("../components/public.style.tags.ejs") %>
        <link rel="stylesheet" href="/css/ProductInfo/style.min.css">
    </head>
    <body>
        <!-- Start Product Info -->
        <section class="product-info">
            <h1 class="text-center fw-bold">Product Info</h1>
            <!-- Start Container -->
            <div class="container">
                <!-- Start Grid System -->
                <div class="row">
                    <!-- Start Column -->
                    <div class="col-md-6">
                        <!-- Start Product Info Box -->
                        <div class="card product-info-box">
                            <!-- Start Product Details List -->
                            <ul class="card-body product-details-list">
                                <li class="card-title product-name">
                                    Product Name: <span class="fw-bold"><%= productInfo.name %></span>
                                </li>
                                <li class="product-price">
                                    Product Price: <span class="fw-bold"><%= productInfo.price %></span>$
                                </li>
                                <li class="product-category">
                                    Product Category: <span class="fw-bold"><%= productInfo.category %></span> 
                                </li>
                                <li class="card-text product-description">
                                    Product Description: <span class="fw-bold"><%= productInfo.description %></span>
                                </li>
                                <!-- Start Add To Cart Form -->
                                <form action="/cart" method="get" class="add-to-cart-form">
                                    <input type="number" name="amount" class="form-control">
                                    <button type="submit" class="btn btn-primary add-to-cart">
                                        Add to cart
                                    </button>
                                </form>
                                <!-- End Add To Cart Form -->
                            </ul>
                            <!-- End Product Details List -->
                        </div>
                        <!-- End Product Info Box -->
                    </div>
                    <!-- End Column -->
                    <!-- Start Column -->
                    <div class="col-md-6">
                        <!-- Start Product Image Box -->
                        <div class="product-image-box">
                            <!-- Start Product Image -->
                            <img
                                src="/<%= productInfo.productImageSrc %>"
                                class="card-img-top"
                                alt="Sorry !!"
                            >
                            <!-- End Product Image -->
                            <!-- Start Overlay -->
                            <div class="overlay"></div>
                            <!-- End Overlay -->
                        </div>
                        <!-- End Product Image Box -->
                    </div>
                    <!-- End Column -->
                </div>  
                <!-- End Grid System -->
            </div>
            <!-- End Container -->
        </section>
        <!-- End Product Info -->
        <%- include("../components/public.script.tags.ejs") %>
    </body>
</html>